body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;  /* 设置为水平排列 */
    /*justify-content: space-between;*/
    align-items: flex-start;
    gap:10px;
}

.calculator, .currency-converter {
    margin: 20px auto;
    max-width: 300px;
    padding: 20px;
    background-color: rgb(39, 37, 37);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    width: 250px;
    height: 40px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h1{
    text-align: center;
    color: darkseagreen;
}
h2{
    text-align: center;
    color: darkseagreen;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    padding: 20px;
    font-size: 18px;
    background-color: #8dcd8f; /*普通计算器按钮颜色*/
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #265228;/*鼠标放上去时的颜色*/
}

.inputBox {
    width: 230px;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.selectBox{
    width: 80px;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.currency-converter button {
    width: 80px;
    padding: 10px;
    background-color: #8dcd8f;
    color:black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#conversionResult {
    margin-top: 10px;
    font-size: 18px;
    color:#8dcd8f;
}
